/* ================= ADD CAMPAIGN MODAL ================= */

.add-campaign-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  min-width: 750px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.12);
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

.add-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-divider {
  height: 1px;
  background: #eaeaea;
  margin: 16px -20px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #F2F2F2;
}

.close-btn:hover {
  background-color: #E0E0E0;
}

.add-modal-subtitle {
  margin: 20px 0;
  font-weight: 600;
  font-size: large;
}

.add-modal-head{
  font-weight: 700;
    margin: 10px 0;
    font-size: large;
}
/* ================= CAMPAIGN TYPE CARD ================= */

.campaign-type-card {
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 16px;
  cursor: pointer;
}
.campaign-type-card-social:hover {
  background: #eaf2ff;
  border: 1px solid #3b82f6;
}

.campaign-type-card-mail:hover {
  background: #fff3df;
  border: 1px solid #f59e0b;
}
.campaign-type-card-social:hover .card-icon.social {
  background: #ffffff;
}

.campaign-type-card-mail:hover .card-icon.email {
  background: #ffffff;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-title-icon{
  width: 30px;
    height: 30px;
    object-fit: contain;
}

.card-icon.social {
  background: #eaf2ff;
}

.card-icon.email {
  background: #fff3df;
}

.badge {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid;
}

.badge.paid {
  background: #eeeeee;
}

.badge.free {
  background: #eeeeee;
}

/* ================= GREEN CHECK LIST ================= */

.campaign-type-card h5 {
  margin: 14px 0 6px;
  font-size: 16px;
}

.campaign-type-card p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 12px;
}
/* ================= GREEN CHECK LIST ================= */

.campaign-type-card ul {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
}

.campaign-type-card li {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space between icon & text */
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}