/* ================= HEADER ================= */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn {
  background: #3b3b3b;
  color: #ffffff;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}