.iconrowbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.2px;
    width: 282px;
}

/* MAIN CARD */
.cardWrapper {
    flex: 1;
    padding: 0 16px;
    margin-top: 16px;
    margin-bottom: 0;
    overflow: hidden;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 14px #0000000f;
    padding: 25px;
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

/* DECOR BG */
.cardBg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    pointer-events: none;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: auto;
    padding-bottom: 8px;
}